.book-card {
    width: 200px; /* Ширина блока */
    height: 300px; /* Высота блока */
    border: 1px solid #ccc; /* Добавьте рамку для видимости блока */
    margin: 10px; /* Отступ между блоками */
    display: inline-block; /* Размещение блоков в строку */
}